<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Fagro</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="card" id="mytodo">
                    <h3 class="card-header">Fagro's Todo</h3>
                    <div class="card-block">
                        <form action="" v-on:submit.prevent="addTask" v-on:keypress.enter="addTask">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="task" placeholder="agrege una tarea">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </form>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item" v-for="(item, index) in tasks">
                                <button type="button" class="close" aria-label="Close" v-on:click="deleteTask(index)">
                                <span aria-hidden="true">&times;</span>
                        </button> {{item.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--Libraries-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.4.2"></script>
    <!--Custom app-->
    <script type="text/javascript" src="app.js"></script>
</body>

</html>